body {
  background-color: --warm-brown;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

.serif {
  font-family: 'Playfair Display', serif;
}

.sans {
  font-family: 'Inter', sans-serif;
}
